.form {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 34px 36px 37px;
  border-radius: 10px;
}

@media screen and (max-width: 710px) {
  .form { 
    padding: 25px 22px;
  }
}