.form__button {
  font-size: 18px;
  line-height: 22px;
  margin-top: 14px;
  padding: 14px 0 18px 0;
  background-color: #000000;
  color: #ffffff;
  border-radius: 2px;
  border: 1px solid #000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
  
.form__button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

@media screen and (max-width: 710px) {
  .form__button { 
    padding-bottom: 14px;
    font-size: 14px;
    line-height: 17px;
  }
}