.form__button {
  max-width: 358px;
  box-sizing: border-box;
  background: #000;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 14px 0 18px;
  border: 0;
}
  
.form__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 710px) {
  .form__button { 
    font-size: 14px;
    line-height: 17px;
    padding: 14px 0 14px;
  }
}