.element__image {
    display: block;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    width: 282px;
    height: 282px;
    object-fit: cover;
    border-radius: 0;
    cursor: pointer;
  }